<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you!, <%= @user.first_name %></h1>
    <p>
      Your order has successfully gone through.
    </p>
    <p>Thanks for your business, and have a great day!</p>
  </body>
</html>
